<app-header class="principal">

  <form class="formulario" #cadForm="ngForm" (ngSubmit)="editar(cadForm)">
    <label for="id">ID:</label>
    <ion-item>
      <ion-input type="number" name="id" id="id" placeholder="Digite o ID" [(ngModel)]="contato.id"></ion-input>
    </ion-item>
    
    <label for="nome">Nome:</label>
    <ion-item>
      <ion-input type="text" name="nome" id="nome" placeholder="Digite seu nome" [(ngModel)]="contato.nome"></ion-input>
    </ion-item>
    
    <label for="telefone">Telefone:</label>
    <ion-item>
      <ion-input type="text" name="telefone" id="telefone" placeholder="Digite seu telefone" [(ngModel)]="contato.telefone"></ion-input>
    </ion-item>
    
    <label for="email">Email:</label>
    <ion-item>
      <ion-input type="email" name="email" id="email" placeholder="Digite seu email" [(ngModel)]="contato.email"></ion-input>
    </ion-item> 

    <ion-button class="btnfoto" type="button" (click)="caputurarFoto()">Tirar Foto</ion-button>

    <div class="botao">
      <ion-button color="success" type="submit">Salvar</ion-button>
      <ion-button class="bt_can" (click)="voltar()" >Cancelar</ion-button>
      <ion-button class="btn_ex" (click)=excluir(cadForm)>Excluir</ion-button>       
    </div>

  </form>

</app-header>