.principal{
    .formulario{
        margin: 2em 1em;

        label,ion-input,ion-item{
            display: block;
            margin: 0.5em;
        }

        .btnfoto{
            width: 10em;
            margin: 0.5em;
        }

        .botao{
            display: flex;

            .btn_ex{
                --background: #FF0000; 
            }

            .bt_can{
                --background: #C0C0C0;
                --color: #000000;
            }

            ion-button, .btn_ex, .bt_can{
                margin: 2em auto;
                width: 25%;
            }
        }
        
    }

}