.card {
    display: block;
    max-width: 280px;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0,0,0,.3);
    
    img {
      width: 100%;
      border-radius: 6px 6px 0 0;
    }
    
    h3 {
      margin: 0;
      padding: .6em;
      text-align: center;
      font-size: .8em;
    }

  }