<app-header>
  

  <div>
    <app-card nome="Helvecio" telefone="996916296" email="helvecioneto77@gmail.com" imagem="https://picsum.photos/100/100/?random"></app-card>
    <app-card nome="Lorena" telefone="789654123" email="lorena@gmail.com" imagem="https://picsum.photos/100/100/?random"></app-card>
    <app-card nome="Nea" telefone="478951421" email="nea@gmail.com" imagem="https://picsum.photos/100/100/?random"></app-card>
    <app-card nome="Gualter" telefone="456512142" email="gualter@gmail.com" imagem="https://picsum.photos/100/100/?random"></app-card>
    <app-card nome="Andrew" telefone="56452334" email="Andrew@gmail.com" imagem="https://picsum.photos/100/100/?random"></app-card>
    <app-card nome="Adenilson" telefone="54678786" email="adenilson@gmail.com" imagem="https://picsum.photos/100/100/?random"></app-card>


  </div>
  

</app-header>





